.textReflected,
.Decsription,
.icon{
    color: var(--main-color);
}

.box{
    background-color: var(--main-color);
}

.child{
    border-bottom: rgb(88, 88, 88) solid 2px;
    
}

.arrow{
    color: var(--main-color);
    right: 2%;
}

  .Add, .arrow:hover {
    color: #777;
  }
