/* start global rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --main-color: rgb(8 0 90);
    --secondary-color:#fff;
    --main-transition: 0.3s;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
*::selection{
    color: #fff;
    background-color: var(--main-color);
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 14px;
}

html::-webkit-scrollbar-track{
background-color: #f39d1229;
}

html::-webkit-scrollbar-thumb{
background-color: #8d44adb4;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
}
body{
    font-family: 'Roboto';
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(114 189 234);
    background: linear-gradient(to bottom, rgb(114 189 234), #eee);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;}


h3{
   
width: 258px;
height: 48px;
left: 31%;
top: 108px;
color: var(--main-color);
}

p{
  

    position: absolute;
    width: 27%;
    height: 23px;
    left: 31%;
    top: 166px;
    color: var(--secondary-color);
}

@media (max-width: 731px) {
    .landing .box{
      left: auto;
       
     }
    }



.box{
    position: relative;
    width: 410px;
    height: 227px;
    left: 36%;
    top: 199px;
    background: var(--main-color);
    border-radius: 33px;
}

p.txt{
    left: 29%;
    text-align: center;
    align-items: center;
    top: 0px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
}
.small{
    left: 22%;
    width: 128px;
    height: 35px;
    top: 139px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
}

  .back:hover{
   color: var(--main-color);
   transition: 0.5s;
    transform: translate(0, -10px);
}

    
    .search{
      width: 95%;
        position: relative;
        top: 95px;
        margin-bottom: auto;
        margin-top: 200px;
        height: 61px;
        background: #FFFFFF;
        border-radius: 60px;
        background-color: #fff;
        padding: 5px;
    }
  
    .search-input{
        
        color: white;
        border:0;
        outline: 0;
        background: none;
        width: 1092px;
        margin-top:5px;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    
    }
    
    .search .search-input{
        padding: 0 10px;
        caret-color: #536bf6;
        font-size: 21px;
        font-weight: 300;
        color: black;
        transition: width 0.4s linear;
    }
    
    .search-icon{
        
        top: 19px;
            position: absolute;
            right: 16px;
        color: #B4B4B4;
    }
