/* start global rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --main-color: rgb(8 0 90);
    --secondary-color:#fff;
    --main-transition: 0.3s;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
*::selection{
    color: #fff;
    background-color: var(--main-color);
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 14px;
}

html::-webkit-scrollbar-track{
background-color: #f39d1229;
}

html::-webkit-scrollbar-thumb{
background-color: #8d44adb4;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto';
    font-style: normal;
    background-color: rgb(114 189 234);
    background: linear-gradient(to bottom, rgb(114 189 234), #eee);
}
a{
    text-decoration: none;
    display: contents;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;}


.txt{
    width: 187px;
    height: 35px;
    left: 12%;
    top: 23%;
    color: var(--main-color);
}

h3{
    width: 258px;
    height: 59px;
    left: 12%;
    top: 197px;
    color: var(--main-color);
}

.parent{
    width: 86%;
    height: 168px;
    top: 193px;
    background: var(--secondary-color);
    box-shadow: 0px 4px 66px rgba(0, 67, 51, 0.1);
    border-radius: 23px;
}
.para{
    font-size: calc(.9rem + .6vw)!important;
}

.grid .btn{
width: 245px;
height: 49px;
left: 40%;
top: 272px;
background-color: var(--main-color);
border-radius: 5px;
}
.grid .btn:hover{
    background-color: blueviolet;
    transition: var(--main-transition);
    transform: translate(0, -10px);
}

.btn .access{
color: #FFFFFF;
}

.child:hover,
.child2:hover,
.child3:hover{
    transition: var(--main-transition);
    transform: translate(0, -10px)
}
.child,
.child2,
.child3{
    height: 57px;
    width: 75%;
    top: 322px;
    left: 12%;
    background: var(--secondary-color);
    border-radius: 5px;
}

.icon ,
.icon2,
.icon3{
    left: 3%;
    top: 21%;
    color: var(--main-color);
} 
.para2,
.para3,
.para4{
    left: 63px;
    top: 35.09%;
    color: #B4B4B4;
}

     .first-arrow,
     .second-arrow,
     .third-arrow{
        color: var(--main-color);
        right: 23px;
        /* top: 42.11%; */
                
     }