/* start about */
.about h3{
    color: var(--main-color);
}
.about .text{
    max-width: 700px;
    line-height: 1.2;
}
.about .image{
    max-width: 320px;
}
/* end about */

/* start team */
.teams .card{
    box-shadow: black 3px 8px 23px -5px;
    max-width: 226px;
}
.teams .card:hover{
    transform: scale(1.01);
}
.teams .card img{
    filter: grayscale();
}
.teams .card .card-title{
    color: var(--main-color);
}
.teams .card .card-text{
    font-size: 0.8rem;
}
.teams .card .icons svg{
    background-color: var(--main-color);
}
/* end team */

/* start mission */
.mission h3{
    color: var(--main-color);
}
.mission .box .desc{
    line-height: 1.8;
}
.mission .card{
    background-color: #2b9ce0;
    max-width: 270px;
    transition: var(--main-transition);
    box-shadow: black 3px 8px 42px -20px;
}
.mission .card:hover{
    transform: scale(1.02);
}
.mission .card .card-img-top{
    background-color: var(--main-color);
    width: 60px;
    height: 60px;
}
.mission .card .card-body a svg{
    transition: var(--main-transition);
    transform: translateX(3px);
}
.mission .card .card-body a:hover svg{
    transform: translateX(7px);
}
/* end mission */